Always create code for NextJS 14. Always create typescript. Prefer creating server components over client side componets. When naming server component files use dash case. Always escape apostrophes in JSX as eslint complains about it. Server actions should go in app/actions. API routes should go in app/api. Components should go in the components folder. Pages should go in the app folder. We are hosting on Vercel and using environment variables configured in Vercel. Please make sure you use latest tailwind commands for opacity. 